<ion-header>
  <ion-toolbar>
    <ion-title>Curiosidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Curiosidades sobre o Carnaval</h2>
  <ul>
    <li>🎉 O Carnaval de Salvador atrai milhões de foliões todo ano.</li>
    <li>🎭 O frevo é Patrimônio Imaterial da Humanidade.</li>
    <li>🌎 É considerado a maior festa popular do mundo.</li>
  </ul>

  <ion-button routerLink="/" expand="full" type="button">Ver Programação</ion-button>
  <ion-button routerLink="/" expand="full" color="medium" type="button">Voltar para Início</ion-button>
</ion-content>
